.box {
  width: 286px;
  height: auto;
  margin: 16px auto;
  border: 1px solid #19a2a9;
  color: #19a2a9;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  position: relative;
  border-radius: 10px;
  background: #fff;
}

.triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid #19a2a9;
  border-right: 8px solid transparent;
  border-top: 8px solid #19a2a9;
  border-bottom: 8px solid transparent;
  left: 13px;
  bottom: -17px;
}

.triangle:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid #fff;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  border-bottom: 8px solid transparent;
  left: 14px;
  bottom: -14px;
}
.dark-teal-infobox {
  position: relative;
  width: 286px;
  height: 35px;
  left: -1px;
  top: -1px;
  background: #19a2a9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.address-text {
  position: absolute;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}

.type-icon-container {
  position: relative;
  width: 285px;
  height: auto;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* https://codingislove.com/css-speech-bubbles/ */
