{
    "extends": [
        "airbnb-base", 
        "plugin:jest/recommended"
    ],

    "env": {
        "node": true,
        "jest/globals": true
    },

    "plugins": ["jest"],

    "rules": {
        "semi": [
            "error",
            "never"
        ]
    }
}