#sidebar {
    position: absolute;
    height: 900px;
    width: 325px;
    left: 20px;
    top: 15px;
    z-index: 5000;
    border-radius: 15px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #19A2A9 -13.26%, #52BAC3 42.8%, #67C3CC 63.16%, #7ED4DC 122.35%);
}

.sidebar-title {
    user-select: none;
    position: absolute;
    width: 244px;
    height: 50px;
    left: 20px;
    top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: normal;
    color: #FFFFFF;
}

.white-background {
    position: absolute;
    height: 510px;
    width: 325px;
    left: 0px;
    top: 80px;
    background:#FFFFFF;
}

.hsy-logo {
    user-select: none;
    position: absolute;
    width: 121px;
    height: 66px;
    left: 20px;;
    top: 820px;
}

.location-status-title {
    user-select: none;
    position: absolute;
    width: 224px;
    height: 23px;
    left: 20px;
    top: 604px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.light-teal-rectangle {
    position: absolute;
    width: 325px;
    height: 56px;
    left: 0px;
    top: 587px;
    background: #67C3CC;
}

.dark-teal-rectangle {
    position:absolute;
    width: 325px;
    height: 160px;
    left: 0px;
    top: 643px;
    background: #19A2A9;
}