#sidebar {
    position: absolute;
    height: 900px;
    width: 325px;
    left: 20px;
    top: 15px;
    z-index: 5000;
    border-radius: 15px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #19A2A9 -13.26%, #52BAC3 42.8%, #67C3CC 63.16%, #7ED4DC 122.35%);
}

.title {
    position: absolute;
    width: 244px;
    height: 50px;
    left: 20px;
    top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: normal;
    color: #FFFFFF;
}

.white-background {
    position: absolute;
    height: 610px;
    width: 325px;
    left: 0px;
    top: 80px;
    background:#FFFFFF;
}