
.accordion-bin-text-style {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 11px;
    color: #666666;
}

.bin-section{ 
    position: relative;
    background:#F1F1F1;
    width: 325px;
    height: 135px;
    padding: 0px; 
}

.light {
    background:#F1F1F1;
}

.dark {
    background:#E5E5E5;
}

.trashbin-image {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 80px;
    height: 88px;
}

.bin-title {
    position: absolute;
    top: 20px;
    left: 130px;
}

.sensor-info {
    position: absolute;
    top: 40px;
    left: 130px;
}

.alert-text {
    color: #E87620;
    display: inline;
}

.bold {
    font-weight: bold;
}

.bin-alert {
    position: absolute; 
    width: 15px;
    height: 15px;
    right: 299px;
    top: 65px;
}
