
.bin-section-light{ 
    background:#F1F1F1;
    width: 325px;
    height: 80px;
    padding: 0px; 
}

.bin-section-dark{ 
    background:#E5E5E5;
    width: 325px;
    height: 80px;
    padding: 0px;
}

.trashbin-image {
    position: relative;
    width: 45px;
    height: 45px;
}

.bin-title {
    left: 60px;
}