

.status-filter-item {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.status-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: rgb(110, 62, 62);
    left: 40px;
}



