.status-filter-item {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 0px;
}

.status-filter-item-name {
  user-select: none;
  position: relative;
  bottom: 1px;
  margin-left: 6px;
}
