
.status-filter-item {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 12px;
}


