.card {
  border: 0px;
  border-radius: 0px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  color: #ffffff;
  user-select: none;
}

.card-body {
  padding: 0px;
}

.type-icon {
  position: relative;
  margin-left: 35px;
  margin-top: 15px;
  float: left;
  width: 40px;
  height: 40px;
}

.header-title {
  position: relative;
  margin-left: 85px;
  margin-top: 22px;
}

.arrow {
  position: absolute;
  width: 11px;
  height: 9px;
  top: 30px;
  left: 300px;
}

.alert {
position: absolute; 
width: 60px;
height: 45px;
right: 277px;
top: 13px;
}

.card-header {
  height: 70px;
  padding: 0px;
}

.general {
  background: #c4c4c4;
}

.cardboard {
  background: #2a6aa2;
}

.plastic {
  background: #e87620;
}

.glass {
  background: #2a6aa2;
}

.metal {
  background: #2a6aa2;
}

.biowaste {
  background: #715e55;
}
