.filter-item-title {
    user-select: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    color: #FFFFFF;
    margin-bottom: 4px;
    margin-top: 10px;
}

.filter-icon {
    width: 60px;
    height: 60px;
}
