.trashbin-icon {
    position: relative;
    width: 20px;
    height: 18.5px;
    top: 21px;
  }
  
  .bin-full {
    position: relative;
    left: 70px;
  }
  
  .bin-ok {
    position: relative;
    left: 95px;
  }
  
  .number-text {
    font-family: Source Sans Pro;
    font-size: 13px;
    position:absolute;
    text-align:center;
    width: 20px;
    height: 20px;
    top: 26px;
  }
  
  .number-full {
    color: #FFFFFF;
    left: 70px;
    
  }
  
  .number-ok {
    color: #8f8e8e;
    left: 95px;
  }
  
  .trash-bin-icon-container {
    position: absolute;
    height: 70px;
    width: 150px;
    left: 175px;
    top: 0px;
    user-select: none;
  }