.filter-title {
    position: absolute;
    width: 224px;
    height: 23px;
    left: 20px;
    top: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    color:#19A2A9;
}

.teal-rectangle {
    position: absolute;
    width: 285px;
    height: 540px;
    left: 20px;
    top: 45px;
    background: linear-gradient(180deg, #19A2A9 0%, #67C3CC 100%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}
