.infobox-img {
  width: 53px;
  height: 53px;
  margin: 4px;
}

.alert-icon {
  position: relative;
  width: 20px;
  height: 20px;
  left: 38px;
  top: -64px;
}

.infobox-item {
  width: 63px;
  height: 63px;
  margin-top: 4px;
}
