.location-white-background {
  position: absolute;
  height: 755px;
  width: 325px;
  top: 50px;
  background: #ffffff;
}

.back-text {
  position: absolute;
  font-family: Source Sans Pro;
  font-size: 18px;
  color: #ffffff;
  left: 50px;
  top: 20px;
}

.back-button-round {
  position: relative;
  width: 45px;
  height: 45px;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  background: #67c3cc;
  border: none;
}

.back-button-round:focus {
  border: none;
  outline: none;
}

.back-button-round:hover {
  cursor: pointer;
  background: #59a9b1;
  border-radius: 50%;
}

.back-arrow {
  position: relative;
  height: 20px;
  width: 25px;
  top: -2px;
}

.address {
  position: absolute;
  left: 20px;
  top: 10px;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: #19a2a9;
}

.owner-text {
  position: absolute;
  left: 20px;
  top: 32px;
  font-family: Source Sans Pro;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #19a2a9;
}

.type-accordion {
  position: relative;
  top: 80px;
}
